body {
 background-color: bisque;
}

.detailBox {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 90px;
  background-color: rgb(255,255,255,0.8);
  border-radius: 30px;
}

.center_wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-top: 40px;
}

/*영화이미지*/
.center_wrapper .contents {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 0 60px;
  margin: 0 auto;
  margin-top: 70px;
  height: 100%;
}

.center_wrapper .contents .thumbnail {
  margin: 0 auto;
  width: 433px;
  height: 650px;
  border-radius: 24px;
  display: flex;
}
/*영화설명*/
.center_wrapper .movieText {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 50px;
  
}
.center_wrapper .contents .title {
  width: 100%;
  display: block;
  font-size: 40px;
  font-weight: 700;
  /* 최대 넓이인 641px이 넘어가면 ... 처리  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.moviesub {
  display: block;
}

.moviesub > div {
  float: left;
  font-size: 18px;
  font-weight: 400;
  margin-right: 1rem;
}


.line {
  width: 100%;
  height: 1px;
  background: #D9D9D9;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.center_wrapper{
  display: flex;
}

.center_wrapper .contents .description {
  font-size: 20px;
  font-weight: 400;
  font-style: #454545;
  line-height: 125%;
  letter-spacing: -10%;

}

/*
.parent-comment {
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 2rem;
}*/


/*리뷰css*/
#commentTarget {
  margin: 5rem auto;
  padding: 34px 48px;
  max-width: 1000px;
  padding-bottom: 2rem;
  background-color: #F1F5FD;
  margin-bottom: 2rem;
  border-radius: 1.25rem;
}


#content-comment {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-left: 30px;
  padding-right: 30px;
}

/*리뷰작성 버튼*/
.btn {
  width: 180px;
  height: 46px;
  font-size: 1rem;
  font-family: 400;
  background-color: #5956F5;
  margin-top: 0.5rem;
}

/*input form ui*/
.inputGroup {
  position: relative;
  margin-right: 2.4rem;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid #E1E1E1;
  background-color: transparent;
  border-radius: 0.8rem;
  width: 100%;
  background-color: #ffffff;
}

.inputGroup input:focus {
  border: 1px solid #5956F5;
}

.comment-input-container textarea{
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  height: 96px;
  border: 1px solid #E1E1E1;
  border-radius: 0.8rem;
  background-color: #ffffff;
  font-family: inherit;
}
.comment-input-container textarea:focus {
  border: 1px solid #5956F5;
}




/*html에서 만들어둔 안내메세지를 숨겨준다 display: none 가 default*/
.hide {
  display: none;
}

.rv-failure-message {
  font-size: 13px;

  
}
.pw-failure-message {font-size: 0.8rem }
  
.name-failure-message{
  font-size: 13px;
}