#searchText {
  margin: 11px 80px 11px;
  padding: 10px 15px;
  border: none;
  width: 270px;
  height: 25px;
  border-radius: 10px;
  outline: 1px solid #e1e1e1;

  &:focus {
    outline: none;
  }
}

.menubar-top {
  top: 0;
  left: 0;
  width: 1920;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  z-index: 5;
}

.search-div {
  position: relative;
}

.icon-search {
  position: absolute;
  top: 23px;
  right: 96px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#representive-mark {
  font-family: "Pretendard-extrabold";
  cursor: pointer;
  margin: 16px auto 16px 80px;
  width: 264px;
  height: 34px;

  &:hover {
    color: var(--white-color);
    transition: all 0.3s;
  }
}